main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {

  --secondary: #31343D;
  --light: #fafafa;
  --dark: #90a3a2;
  --darker: #728b74;
  --alpha: rgba(255,255,255,.7);
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--darker);
  background-image: url('./assets/background.jpeg');
  background-attachment: fixed;
  color: var(--light);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 5rem;
  margin: 50px 20px;
  
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin: 20px 0;
  line-height: 2rem;
}




header {
  background: var(--dark);
  opacity: 50%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


button {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--dark);
  padding: 10px 15px;
  opacity: 0.7;
}
.proficiencies{
  border:solid white 10px;
  background-color: var(--dark);
  position:absolute;
  
  width: 50%;
  text-align:center;
  opacity: 80%;
  align-items: center;
  justify-content: center;
}
.resumelist{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  
}
button:hover {
  opacity: 1;
}



img {
  max-width: 100%;
}

span[role='img'] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  margin: 10px 0;
  font-size: 1rem;
  padding: 0.25rem;
  width: 600px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

label {
  margin-right: 10px;
}

li {
  list-style: none;
}

header {
  height: 200px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border-bottom: solid white 10px;
}

header h1 {
  position: relative;
  z-index: 2;
  color:white;
  margin-top:60px;
  font-size: 50px;
}

header img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  opacity: 0.5;
}
.nav li:hover {
 transition: ease-out;
  color:white;
  border: 40px solid white;
  text-decoration: none;
}
nav {
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  margin: 60px 20px;
}
.aboutparagraph{
  background-color: var(--dark);
  margin-top: 50px;
  padding: 20px;
  border: solid white 10px;
  opacity: 90%;
  text-align:center;
}


nav li {
  cursor: pointer;
  margin: 0 50px;
}
#frontendprof{
  text-decoration: underline;
}
#backendprof{
  text-decoration: underline;
  padding-top: 20px;
}
ul.skills {
  line-height: 2rem;
}

ul.skills li {
  list-style-type: none;
}




textarea {
  width: 600px;
  height: 200px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin-top: 10px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.card {
  width: 25%;
  text-align: center;
}
.headshot{
  background-image: url('./assets/headshot/headshot.jpeg');
  border: solid white 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.project {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin: 30px;
  text-align: center;
  
}
#formsubmission{
  display:inline-block;
}

.project-text {
    color: white;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 50px;
    z-index: 900;
    transition: .70s ease-in-out;
    text-decoration: none; 
    background-color: var(--dark);
    
}

.project-text:hover {
 
  color:white;
  border: 40px solid white;
  text-decoration: none;
}

.project-text h3 {
  font-size: 2.5rem;
  text-decoration: none;
}

.project-text a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
}
.repotext{
  color:white;
  text-decoration: none;
}
#reponame{
  font-size: 20px;
  text-decoration: none;
  color:inherit;
}
#projectname{
  text-decoration: underline;
  color:inherit;

}


.navActive {
  color: var(--secondary);
  cursor: default;
}
@media only screen and (max-width: 1300px) {
  nav {
    position: static;
    display: block;
    z-index: 100;
    margin: 0 10px;
    font-size: 2rem;
  }
  header h1 {
    display: block;
    height: 30px;
  }
}
@media only screen and (max-width: 900px) {
  nav {
    position: static;
    display: block;
    z-index: 100;
    margin: 0 10px;
    font-size: 1.3rem;
  }
  header h1{
    display: block;
    margin: 5px 10px;
    height: 15px;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
  }
}
